@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --cor0: #0071A1;
    --cor1: #FFFFFF;
    --cor2: #D2D7DF;
    --cor3: #080708f6;
    --cor4: #BDBBB0;
    --corlinkedin: #0a66c2;
    --corgithub: #1715156c;
}

*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0.5px;
}

body{
    background-color: var(--cor2);
}

header{
    margin: auto;
    border: 2px solid black;
}

nav{
    padding: 9px;
    border: 2px solid black;
}

nav > span{
    height: 20px;
    margin: 5px;
    border: 2px dotted blueviolet;
}


main{
    height: auto;
    width: 90vw;
    margin: auto;
    border: 2px dotted green;
}

main p{
    text-indent: 3px;
    text-align: justify;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
}

article {
    border: 1px solid black;
}

aside{
    height: auto;
    width: 90vw;
    margin: auto;
    border: 2px solid rgb(124, 124, 5);
}

aside ul{
    text-align: center;
}

h1{
    margin: 5px;
    margin-left: 35px;
    padding: 5px;
}

h2{
    margin: 5px;
    margin-left: 35px;
    padding: 5px;
}

ul img{
    width: 40px;
    height: 40px;
    margin: auto;
}

a > img:hover{
    filter: blur(1px);
}


footer{
    margin: auto;
    border: 2px solid violet;
}

footer p{
    text-align: center;
}

.eu{
    margin: 10px;
    margin-left: 80px;
    border: 1px solid black;
    border-radius: 15%;
    width: 200px;
    height: 200px;
}

.imgprojetos{
    margin: 5px;
    width: 450px;
    height: 150px;
    margin: auto;
}

.redes{
    padding: 10px;
}

#linkedin-icon:hover{
    background-color: var(--corlinkedin);
}

#git-icon:hover{
    background-color: var(--corgithub);
}

#instagram-icon:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%,
    #fdf497 5%, #fd5949 45%,
    #d6249f 60%, #285aeb 90%);
}
