@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400&display=swap');

:root{
    --cor0: #12486B;
    --cor1: #419197;
    --cor2: #78D6C6;
    --cor3: #F5FCCD;
    --cor4: #BDBBB0;
    --corlinkedin: #0a66c2;
    --corgithub: #1715156c;
}

.cabecalho {
    padding: 30px;
    border: 1px solid black;
}

.artigo {
    border: 1px solid black;
}

.apresentacao {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.minha__foto {
    width: 25%;
    padding: 10px;
}

.paragrafos__principais {
    padding: 10px;
}

#trabalhos {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.img__projetos {
    width: 20%;
    height: 20%;
}

.img__icons {
    width: 10%;
    height: 10%;
}

#linkedin-icon:hover{
    border-radius: 50%;
    background-color: var(--corlinkedin);
}

#git-icon:hover{
    border-radius: 50%;
    background-color: var(--corgithub);
}

#instagram-icon:hover{
    border-radius: 50%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%,
    #fdf497 5%, #fd5949 45%,
    #d6249f 60%, #285aeb 90%);
}
