@charset "UTF-8";

:root{
    --cor0: #0071A1;
    --cor1: #FFFFFF;
    --cor2: #D2D7DF;
    --cor3: #080708f6;
    --cor4: #BDBBB0;
}

*{
    margin: 0;
}

header{
    background-color: var(--cor4);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.247);
    padding: 30px;
}

body{
    background-color: var(--cor0);
}

main{
    display: inline-flex;
}

article{
    display: inline-flex;
}

#adiv{
    display: flex; flex-wrap: wrap;
}

.eu{
    border-radius: 45%;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 4px;
    width: 340px;
    height: 340px;
}

.apresentacao{
    flex: 1 1 150px;
    max-width: 1080px;
    margin: auto;
    margin-right: 5px;
    padding: 40px;
    background-color: var(--cor2);
}